<div class="container">

    {% if validlink %}
    <h1>Set new password</h1>
    <form method="post">
        {% csrf_token %}
        <label 
            for="password1"
        >
            New Password:
        </label>
        <input 
            type="password" 
            id="password1" 
            name="password1" 
        />
        <br />
        <label 
            for="password2"
        >
            Confirm New Password:
        </label>
        <input 
            type="password" 
            id="password2" 
            name="password2" 
        />
        <br />
        <button 
            type="submit"
        >
            Set New Password
        </button>
    {% else %}
    <h1>Invalid Link</h1>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% endif %}
    </form>
</div>