
<div>
    <h1>Forgot Your Password?</h1>
    <p>Enter your email address 
        and we'll send you a link to reset your password.
    </p>
    
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label 
                for="email"
            >
                Email:
            </label>
            <input 
                type="email" 
                id="email" 
                name="email" 
            />
            <br />
            <button 
                type="submit"
            >
                Reset Password
            </button>
        </form>
    </div>
</div>


