{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Blog & Marketplace</title>
  </head>
<body class="bg-gray-100">
    <header class="text-center p-12 bg-blue-500 text-white relative">
        <h1 class="text-4xl font-bold mb-2">Welcome to Our Platform!</h1>
        <p class="max-w-xl mx-auto mb-4">Discover blogs and explore items for sale.</p>
        <div class="absolute inset-0 bg-gradient-to-r from-transparent to-black opacity-50"></div>
    </header>
    <div class="container mx-auto">
    <section class="container mx-auto px-4 py-8">
        <div class="text-center">
            <h2 class="text-3xl font-semibold mb-2">Explore Our Offerings</h2>
            <p class="mb-8">Whether you're looking for inspiration or seeking the perfect item, we've got you covered.</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="col-span-full md:col-span-1">
                <a href="{% url 'blog:index' %}" class="btn btn-primary w-full">Go to Blog</a>
            </div>
            <div class="col-span-full md:col-span-1">
                <a href="{% url 'marketplace:index' %}" class="btn btn-secondary w-full">Visit Marketplace</a>
            </div>
      </div>
  </body>
</html>
