{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'chatbot/style.css' %}"
    />
  </head>
  <body>
    <h1>Chatbot</h1>

    <!-- displays conversation between user and bot with user_message form field for chat -->
    <div class="chatbox">
      {% for chat in chat_list %}
      <div class="user-message">
        Message: {{ chat.user_message | truncatewords:10 }}
      </div>
      <div class="bot-message">
        AI: {{ chat.bot_message }}
      </div>
      <form action="{% url 'chatbot:chat_detail' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_message" />
        <input type="submit" value="Send" />
      </form>
      {% endfor %}
    </div>
  </body>
</html>
