<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete this item?</h2>
        <form action="{% url 'marketplace:delete_item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
        <a href="{% url 'marketplace:item_detail' item.id %}">No</a>
    </div>
</body>
</html>