<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sales </title>
</head>
<body>
    <header class="bg-gray-800 text-white p-4">
        <nav>
            <a href="{% url 'index' %}" class="mr-4">
            Home
            </a>
            <a href="" class="mr-4">
            About
            </a>
            <a href="" class="mr-4">
            Contact
            </a>
        </nav>
    </header>
    <div class="w-full flex-grow flex flex-col justify-start items-start px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold mb-4">Blog Posts</h1>
        <div class="grid grid-cols-3 gap-4">
            {% for post in posts %}
                <div class="border p-4">
                    <h2 class="text-xl font-bold">{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="mt-4 block bg-blue-500 text-white px-4 py-2 rounded">View</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
